*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ============================================= VARIABLES ============================================= */

:root {
  --color1: #000000;
  --color2: #A854B1;
  --color3: #A575D2;
  --color4: #7C188D;
  --color5: #5F2992;
  --color6: #D9D9D9;
  --color7: white;
  --color8: #1E072D;
  --color9: #;
}


/* ============================================= TYPOGRAPHIES ============================================= */
/* todo : Mettre la police en WOFF et WOFF2 */

@font-face {
  font-family: "mister-grape";
  src: url(mister-grape.otf);
}

/* =================================================== TITRE ======================================================= */

h1 {
  font-size: 7rem;
  font-family: 'mister-grape', cursive;
  font-weight: 200;
  color: #f4f4f4;
  margin: 0;
}

h2 {
  font-family: "mister-grape";
  font-size: 5rem;
  font-weight: 400;
  margin-left: 11%;

}

h3 {
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 800;
}

h1 {
  color: #fffcfc;
  font-family: "mister-grape";
  text-align: center;
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: 400;
}


/* ============================================= BODY ============================================= */

body {
  font-family: 'Lato', Arial,  sans-serif;
  background-color: #1E072D;
  margin: 0;
  color: rgb(255, 255, 255);
}

section{
  margin: 4vh 0;
}

/* ============================================= HEADER ============================================= */

/* ------------ Image de fond ----------------- */

header {
  background-image: url('img/arriere.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------ Disque ----------------- */

.background-disc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 65vw;
  width: auto;
  max-width: 1000px;
  height: 100vh;
  z-index: 1;
}

/* Animation pour faire tourner le disque */
@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Style du disque */
.background-disc {
  position: absolute;
  top: 50%;
  right: 65vw;
  width: auto;
  max-width: 1000px;
  height: 100vh;
  z-index: 1;

  /* Animation */
  animation: spin 15s linear infinite; /* 5s pour un tour complet */
}



/* ------------ Texte ----------------- */

header {
  position: relative;
  text-align: center;
  height: 100vh;
}

header div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  width: 60vw;
  max-width: 750px;
  top: 20vh;
  left: 37%;
  position: relative;
}

header div p {
  font-size: 1.2rem;
  font-family: 'Lato',sans-serif;
  margin: 40px 0 30px;
  color: #ffffff;
}

/* ------------ Bouton ----------------- */

.btn-see-more {
  display: inline-block;
  padding: 10px 20px;
  margin: 25px;
  background-color: #A854B1 ;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  left: 250px;
  top: 250px;
}

.btn-see-more:hover {
  background-color: #814caf;
}

/* ============================================= FOOTER ============================================= */


footer{
  background-color: var(--color5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 50px;
}

footer a{
  color: var(--color7);
  text-decoration: none;
  transition: 1s ease-in-out;
}

footer a:hover{
  text-decoration: underline;
  transition: 1s ease-in-out;
}



/* ============================================= A11y ============================================= */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}