.divAlbum{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3a0157;
    width: 25vw;
    margin: 0 auto;
    padding: 2vh 2.5vw 4vh;
    border-radius: 15px;
}

/* Photo album */

.img-album{
    width: 20vw;
    height: auto;
    margin: 0 auto;
    border-radius: 15px;
}

/* Titre Album */

.name-album{
    font-weight: bold;
}

/* Artiste */


/* Icon lien musique */
.lien-album{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
}
.icon-lien-album img{
    width: 60px;
    height: auto;
}

/* Bouton slider */

.changeYear{
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin: 5vh 0 20vh 0;
    font-size: 1.3rem;
}



/* ========================================================== Podium ================================================================ */


.podium{
    display: flex;
    justify-content: center;
    margin: 15vh 0 5vh 0;
}

.top1{
    padding: 5vh 0;
}
.top2{
    padding: 3vh 0;
}
.top3{
    padding: 1vh 0;
}

.TopTxt{
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
}














