*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ============================================= VARIABLES ============================================= */

:root {
  --color1: #000000;
  --color2: #A854B1;
  --color3: #A575D2;
  --color4: #7C188D;
  --color5: #5F2992;
  --color6: #D9D9D9;
  --color7: white;
  --color8: #1E072D;
  --color9: #;
}


/* ============================================= TYPOGRAPHIES ============================================= */
/* todo : Mettre la police en WOFF et WOFF2 */

@font-face {
  font-family: "mister-grape";
  src: url(mister-grape.otf);
}

/* =================================================== TITRE ======================================================= */

h1 {
  font-size: 7rem;
  font-family: 'mister-grape', cursive;
  font-weight: 200;
  color: #f4f4f4;
  margin: 0;
}

h2 {
  font-family: "mister-grape";
  font-size: 5rem;
  font-weight: 400;
  margin-left: 11%;

}

h3 {
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 800;
}

/* ============================================= BODY ============================================= */

body {
  font-family: 'Lato', Arial,  sans-serif;
  background-color: #1E072D;
  margin: 0;
  color: rgb(255, 255, 255);
}

section{
  margin: 4vh 0;
}

/* ============================================= HEADER ============================================= */

/* ------------ Image de fond ----------------- */

header {
  background-image: url('img/arriere.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ------------ Disque ----------------- */

.background-disc {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 65vw;
  width: auto;
  max-width: 1000px;
  height: 100vh;
  z-index: 1;
}

/* Animation pour faire tourner le disque */
@keyframes spin {
  from {
    transform: translateY(-50%) rotate(0deg);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

/* Style du disque */
.background-disc {
  position: absolute;
  top: 50%;
  right: 65vw;
  width: auto;
  max-width: 1000px;
  height: 100vh;
  z-index: 1;

  /* Animation */
  animation: spin 15s linear infinite; /* 5s pour un tour complet */
}



/* ------------ Texte ----------------- */

header {
  position: relative;
  text-align: center;
  height: 100vh;
}

header div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  width: 60vw;
  max-width: 750px;
  top: 20vh;
  left: 37%;
  position: relative;
}

header div p {
  font-size: 1.2rem;
  font-family: 'Lato',sans-serif;
  margin: 40px 0 30px;
  color: #ffffff;
}

/* ------------ Bouton ----------------- */

.btn-see-more {
  display: inline-block;
  padding: 10px 20px;
  margin: 25px;
  background-color: #A854B1 ;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s;
  left: 250px;
  top: 250px;
}

.btn-see-more:hover {
  background-color: #814caf;
}

/* ============================================= FOOTER ============================================= */

/* ==================================================== Histoire ======================================================== */

/* ------------ Div ----------------- */
#histoire{
  margin-top: 10vh;
}

.container {
  display: flex;
  justify-content: center;
  gap: 3vw;
}

/* ------------ Titre ----------------- */

#histoire h2{
  max-width: 400px ;
}

/* ------------ Texte ----------------- */

#histoire .description{
  margin-right: 50px ;
  width: 70vw;
  max-width: 600px;
}

/* ------------ Frise Chrono ----------------- */
/* Container de la frise */
/* Styles pour la frise */
.timeline-wrapper .timeline-container {
  margin-bottom: 30vh;
  margin-top: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 20px;
  position: relative;
  border-top: 2px solid #814caf;
  box-sizing: border-box;
}

.timeline-wrapper .timeline-item {
  text-align: center;
  position: relative;
  flex: 1;
}

.timeline-wrapper .year {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
}

.timeline-wrapper .marker {
  width: 16px;
  height: 16px;
  background-color: #814caf;
  border: 2px solid white;
  border-radius: 50%;
  margin: 10px auto;
  position: relative;
  z-index: 2;
}

.timeline-wrapper .description {
  font-size: 16px;
  color: #ffffff;
  margin-top: 10px;
}

.timeline-wrapper .timeline-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #814caf;
  z-index: 1;
}

@media (max-width: 768px) {
  .timeline-wrapper .timeline-container {
    flex-direction: column;
    height: auto;
    border-top: none;
    position: static;
  }

  .timeline-wrapper .timeline-item {
    flex: unset;
    margin-bottom: 20px;
  }

  .timeline-wrapper .marker {
    margin: 10px 0;
  }

  .timeline-wrapper .year,
  .timeline-wrapper .description {
    text-align: center;
  }
}


/* Ajustements pour les très petits écrans (smartphones) */
@media (max-width: 480px) {
  .year {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
  }

  .marker {
    width: 12px;
    height: 12px;
  }
}



/* ==================================================== Graphique Monde ======================================================== */


.diagram {
  flex: 1;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 5vw;
  align-items: center;
}

.diagram {
  width: 50%;
}

/* container qui regroupe les données du diagramme */





.text-container {
  width: 30%;
  max-width: 700px;
  background-color: #650093;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
  text-align: left;
  border-radius: 15px;
  position: relative;
  bottom: 300px;

}



h2 {
  font-family: "mister-grape";
  font-size: 5rem;
  font-weight: 400;
  margin-left: 11%;

}

h3 {
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 800;
}





/* ============================================= SECTION DONNÉES REVENUS EN FRANCE ============================================= */

/* ------ titre ------- */
.revenusFrance h2 {
  font-size: 5rem;
  font-family: 'mister-grape';
  font-weight: lighter;
  color: var(--color7);
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}


.revenusFrance .description {
  color: #fff;
}


.revenusFrance .date {
  padding-right: 38vh;
}




/* ----- camembert ----- */
.revenusFrance .slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.revenusFrance .cliker {
  display: flex;
  justify-content: center;
  align-items: center;
}

.revenusFrance svg {
  width: 100px;
  height: 100px;

}

.revenusFrance pie-chart.active {
  display: block;
  opacity: 1;
}

.revenusFrance pie-chart {
  width: 600px;
  height: 600px;
  position: relative;
  position: relative;
  display: none;
  transition: opacity 0.5s ease-in-out;

}


/* ----- flèches -----  */
.revenusFrance button {
  width: 8vh;
  background-color: #1E072D;
  border-radius: 20vh;
  border: #b16cdf;
  margin: 30px;

}

.revenusFrance img {
  width: 50px;
}






/* ------- légendes ------- */
.revenusFrance .legend {
  margin-left: 50px;
}

.revenusFrance .col2 {
  grid-column: 2 / 2;
  grid-row: 1;
  color: #fff;
  grid-area: b;
  align-self: center;
}


.revenusFrance .l1 {
  background-color: var(--color2);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px 100px 100px 100px;
}


footer{
  background-color: var(--color5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  height: 50px;
}

footer a{
  color: var(--color7);
  text-decoration: none;
  transition: 1s ease-in-out;
}

footer a:hover{
  text-decoration: underline;
  transition: 1s ease-in-out;
}


/* ============================================= A11y ============================================= */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* css du tableau pour les revenus dans le monde */

.accordion {
  background-color: #A854B1;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
  box-shadow: 0 4px 6px rgba(186, 49, 255, 0.1);
  margin-bottom: 10px;
  display: inline-block;
  position: relative;
  left: 1090px;
  bottom: 35vh;
}

.accordion:hover {
  background-color: #642892;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  background-color: #370b4d;
  padding: 0 15px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 0 auto;
  width: 50%; /* Limite la largeur totale de la zone */
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden; /* Nécessaire pour arrondir le tableau */
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #290446;
  color: white;
  border-bottom: 3px solid #370b4d;
}

td {
  background-color: #370b4d;
  border: 1px solid rgba(221, 221, 221, 0.1);
  transition: background-color 0.3s;
}

td:hover {
  background-color: #4b0d58;
}

tr:nth-child(even) td {
  background-color: #290446;
}

h1 {
  color: #fffcfc;
  font-family: "mister-grape";
  text-align: center;
  margin-bottom: 20px;
  font-size: 7rem;
  font-weight: 400;
}

/* Description */


.description3{
  
  margin-left: 150px;
  margin-top: 50px  ;
  margin-bottom: 100px;
 

}

.description2 {
 
  margin-left: 150px;
  margin-top: -50px;
  margin-top: -50px;
}