*,
*::after,
*::before {
  box-sizing: border-box;
}

/* ============================================= VARIABLES ============================================= */

:root {
  --color1: #1E072D;
  --color2: #7C188D;
  --color3: #BC47F3;
  --color4: #0C0B18;
  --color5: #D1D1D1;
  --color6: #5C268F;
}


/* ============================================= TYPOGRAPHIES ============================================= */
/* todo : Mettre la police en WOFF et WOFF2 */

@font-face {
  font-family: "mister-grape";
  src: url(mister-grape.otf);
}

/* ============================================= GÉNÉRALE ============================================= */

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1E072D;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  background-image: url('img/arriere.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ============================================= HEADER ============================================= */

h1 {
  font-size: 5rem;
  font-family: 'Mister Grape';
  font-weight: 200;
  color: #f4f4f4;
 position: relative;
 right: 250px;
}

.header-container {
  position: absolute;
  top: 10%;
  right: 10%;
  text-align: right;
}

.header-container p {
  font-size: 1.2rem;
  margin: 10px 0;
}


.btn-voir-plus {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #814caf;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.disque {
  position: absolute;
  left: -10%; 
  width: 854px;
  height: 989px;
  object-fit: cover;
}

.homepage-container {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-accueil{
  max-width: 500px;
  font-family: 'Lato';
  
  }
/* taille du disque 'design' */

.background-disc {
  position: absolute;
  bottom: 60px;
  right: 500px;
  width: 50%;
  max-width: 1000px;
  height: auto;
  z-index: 1;
  height: 1054px;
  width: 1989px;
}

.text-content {
  position: relative;
  z-index: 2;
  text-align: center;
  height: 130vh;
}

.text-content h1 {
  font-size: 7rem;
  font-family: 'Mister Grape', cursive;
  color: #f4f4f4;
  margin: 0;
  position: relative;
  left: 250px;
  top: 180px;
}

.text-content p {
  font-size: 1.2rem;
  margin: 10px 0 20px;
  color: #ffffff;
  position: relative;
  top: 250px;
  left: 260px;
}

.btn-see-more {
  display: inline-block;
  padding: 10px 20px;
  margin: 25px;
  background-color: #ad45dd;
  color: #ffffff;
  text-decoration: none;
  border-radius: 20px;
  font-size: 1rem;
  transition: background-color 0.3s;
  position: relative;
  left: 250px;
  top: 250px;
}

.btn-see-more:hover {
  background-color: #814caf;
}


.chart-container {
  width: 90%;
  max-width: 800px;
  margin: 20px 0 0 0;
  padding: 10px;
  margin-right: 40%; 
}


.bar {
  fill: #814caf;
  transition: fill 0.3s;
}

.bar:hover {
  fill: #ad45dd;
}

.axis text {
  font-size: 12px;
  fill: #333;
}

.diagram-container {
  display: flex; 
  align-items: flex-start; 
  width: 90%; 
  max-width: 800px;
  margin: 20px 0; 
}

.chart-container {
  flex: 1; 
  padding: 10px;
}



.text-container p {
  margin: 0; 
  font-family: 'Lato';
}



.diagram {
  flex: 1; 
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diagram {
 
  width: 50%; 
}

/* container qui regroupe les données du diagramme */

.text-container {
  width: 5%; 
  background-color: #ad45dd;
  padding: 20px; 
  color: white; 
  text-align: left;
  position: relative;
  left: 250px;
  bottom: 300px;
  flex: 1;
  margin-right: 20px; 
  text-align: left;
  
}

/* style curseur */
#info-display {
  position: absolute;
  display: none;
  background-color: #ad45dd; 
  color: #fff; 
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  max-width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  pointer-events: none; 
  transition: all 0.1s ease; 
}


.text-container {
  width: 30%;
  max-width: 700px;
  background-color: #ad45dd;
  padding: 10px;
  color: white;
  font-size: 0.9rem;
  text-align: left;
  border-radius: 15px; 
 
}

.diagram-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%; 
  max-width: 800px;
  margin: 20px 0;
}





h2 {
  font-family: "mister-grape";
  font-size: 5rem;
  font-weight: 400;
  margin-left: 11%;

}

h3 {
  font-size: 1.5rem;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 800;
}


/* ============================================= SECTION TRANSITION ============================================= */

#transition {
  margin-right: auto;
  margin-left: auto;
  width: 65vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#transition p {
  position: relative;
  width: 45%;
  color: #D1D1D1;
}

.p1 {
  align-self: flex-end;
  top: 60px;
}

.p2 {
  align-self: flex-start;
  top: 20px;
}

section {
  margin-bottom: 300px;
}

.rect-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.rect {
  position: relative;
  width: 100px;
  box-shadow: #0C0B18 5px 5px 10px;
}

.rect1 {
  height: 100px;
  border-radius: 150px 150px 70px 70px;
  top: 50px;
}

.rect2,
.rect3 {
  height: 200px;
  border-radius: 130px;
}


.rect3 {
  top: 75px;
}

.rect4 {
  width: 124px;
  height: 124px;
  border-radius: 180px;
  top: 35px;
}


.bcolor-a {
  background-color: var(--color6);
}

.bcolor-b {
  background-color: var(--color2);
}

/* ============================================= SECTION DATAFR ============================================= */


/* ============= GRID ============= */
.grid {
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 22fr 16fr;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  margin-right: 10%;
  margin-left: 10%;
}

/* ============= DIV ============= */

.div1 {
  grid-area: 1 / 1 / 2 / 2;
  background-color: var(--color3);
  color: var(--color4);
}

.div2 {
  grid-area: 2 / 1 / 3 / 2;
  background-color: var(--color2);
  color: var(--color5);

}

.div3 {
  grid-area: 1 / 2 / 3 / 3;
  /* flex-direction: column-reverse; */
  background-color: var(--color2);
  color: var(--color5);
}

div {
  border-radius: 20px;
  padding: 20px;
}

#datafr div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.div1 h3 {
  align-self: flex-start;
}




/* ============================================= Responsive ============================================= */

/* Casse à partir de 800px */


/* ============================================= A11y ============================================= */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* ============================================= SECTION DONNÉES REVENUS EN FRANCE ============================================= */

/* ------ titre ------- */
.revenusFrance h2{
    font-size: 5rem;
    font-family: 'Mister Grape';
    font-weight: lighter;
    color: var(--color7);
    margin-top: 0.5vh;
    margin-bottom: 2vh;
}


.revenusFrance .description{
    color: #fff;
}


.revenusFrance .date{
    padding-right: 38vh;
}




/* ----- camembert ----- */
.revenusFrance  .slider-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.revenusFrance .cliker{
    display: flex;
    justify-content: center;
    align-items: center;
}

.revenusFrance svg{
    width: 100px;
    height: 100px;
    
}

.revenusFrance pie-chart.active {
    display: block;
    opacity: 1;
}

.revenusFrance pie-chart{
    width: 600px;
    height: 600px;
    position: relative;
    position: relative;
    display: none;
    transition: opacity 0.5s ease-in-out;
    
}


/* ----- flèches -----  */
.revenusFrance button{
    width: 8vh;
    background-color: #1E072D;
    border-radius: 20vh;
    border: #b16cdf;
    margin: 30px;

}

.revenusFrance img{
    width: 50px;
}






/* ------- légendes ------- */
.revenusFrance .legend{
    margin-left: 50px;
}

.revenusFrance .col2 {
    grid-column: 2 / 2;
    grid-row:  1;
    color: #fff;
    grid-area: b;
    align-self: center;
}


.revenusFrance .l1{
    background-color: var(--color2);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:100px 100px 100px 100px;
}
.revenusFrance .l2{
    background-color: var(--color3);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:100px 100px 100px 100px;
}
.revenusFrance .l3{
    background-color: var(--color4);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:100px 100px 100px 100px;
}
.revenusFrance .l4{
    background-color: var(--color5);
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:100px 100px 100px 100px;
}
.revenusFrance.l5{
    background-color: var(--color6);
    color: #000000;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius:100px 100px 100px 100px;
}




.revenusFrance #dateDisplay {
    font-size: 1.5rem;
    color: white;
    text-align: center;
    margin-top: 20px;
}



/* ----- tableau -----  */
.revenusFrance .tableau{
    color: #fff;
    display: flex;
    justify-content: center;
}

.revenusFrance td{
    text-align: center;
    padding: 4px;
    margin: 4px;
}
.revenusFrance tr{
    text-align: center;
    padding: 1000px;
}


.revenusFrance table{
    width: 100%; 
    border-collapse: collapse; 
    margin-top: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.revenusFrance .entete{
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    font-weight: bold;
}

.revenusFrance .donnes td{
    border: 1px solid #fff;
    
}

.revenusFrance td p {
    margin: 0;
}
.revenusFrance table {
    width: 1050px;
}





